*{
    margin: 0%;
    padding: 0%;
}

main{
width: 50%;
background-color:white;
padding: 20px;
margin: 0 auto;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
align-items: center;
flex-direction: column;
}

#banner{
    width: 100%;
    height: 700px;
    margin: 10px 0px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-image: url("../images/salario-familia.jpg");
}

p{
    margin-top: 40px;
    color: #888287b0;
    font-size: 40px;
}

.linha {
    border: 0.5px solid #888287b0;
    margin: 10px 0; /* Define a margem (espaço) acima e abaixo da linha */
}

table{
    margin-top: 40px;
    border-collapse: collapse;
    width: 950px;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

tr, td{
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid rgb(10, 9, 9);
    font-size: 35px;
}

button {
    margin-top: 20px; /* Espaçamento acima do botão */
    background-color: rgb(52, 156, 156);
    border-radius: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
    height: 60px;
    width: 350px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    border: none;
    display: block;
    margin: 20px auto; /* Centraliza horizontalmente e adiciona espaçamento abaixo do botão */
}

label{
    color: #888287b0;
    font-size: 40px;
}

input#salario {
    margin-left: 912px; /* Adiciona um espaço à direita no elemento específico */
    background-color: rgba(219, 216, 216, 0.411);
}

input{
    margin-left: 40px;
    background-color: rgba(219, 216, 216, 0.411);
    height: 45px;
    width: 40px;
    border: none;
    align-items: center;
    
}
