*{
    margin: 0%;
    padding: 0%;
}

main{
width: 90%;
background-color:white;
max-width: 1200px;
padding: 20px;
margin: 0 auto;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
align-items: center;
flex-direction: column;
display:flex
}

#banner{
    width: 100%;
    height: 700px;
    margin: 10px 0;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    background-image: url("../images/salario-familia.jpg");
}

p{
    margin-top: 40px;
    color: #888287b0;
    font-size: 40px;
}

.linha {
    border: 0.5px solid #888287b0;
    margin: 10px 0;
}

table{
    margin-top: 40px;
    border-collapse: collapse;
    width: 950px;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

tr, td{
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid rgb(10, 9, 9);
    font-size: 35px;
    padding: 20px;
}

button {
    margin-top: 20px;
    background-color: rgb(50, 173, 173);
    border-radius: 8px;
    font-size: 25px;
    color: white;
    text-align: center;
    height: 60px;
    width: 350px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    border: none;
    display: block;
    margin: 20px auto; 
    border-bottom: 4px solid rgba(100, 99, 99, 0.938);
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 0 50px;
}

label{
    color: #888287b0;
    font-size: 40px;
}

input#empregado { 
    background-color: rgba(219, 216, 216, 0.411); 
    width: 100%; height: 45px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 35px; 
    padding: 5px;
    color: #888287b0;
    margin: none;
 }

input#filhos{
    background-color: rgba(219, 216, 216, 0.411); 
    width: 100%; height: 45px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 35px; 
    padding: 5px;
    color: #888287b0;
    margin: none;
    text-align: left;
}

input#salario{
    background-color: rgba(219, 216, 216, 0.411); 
    width: 100%; height: 45px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 35px; 
    padding: 5px;
    color: #888287b0;
    margin: none;
    text-align: left;
}

/*input#salario {
    margin-left: 555px; 
    background-color: rgba(219, 216, 216, 0.411);
}*/

input{
    margin-left: 40px;
    background-color: rgba(219, 216, 216, 0.411);
    height: 45px;
    width: 40px;
    border: none;
    align-items: center;
}

input[type='number'] {
    text-align: center;
}

label, input {
    vertical-align: middle;
}

button:hover{
    background-color: rgba(25, 156, 156, 0.61);
    transition: 0.1s;
}